@import "tailwindcss";

/* If you have a custom config file, you reference it like this: */
@config "../../tailwind.config.mjs";

/* If you want hover to work on all devices (even touch), 
   add this line to override v4's strict hover media queries: */
@custom-variant hover (&:hover);